.site-header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25); }
  .site-header .header-normal-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media (max-width: 992px) {
      .site-header .header-normal-menu {
        display: block;
        max-width: 100%; } }
    @media (max-width: 678px) {
      .site-header .header-normal-menu {
        display: block;
        padding-bottom: 15px; } }
    .site-header .header-normal-menu .site-branding {
      margin: 10px;
      z-index: 111;
      position: relative; }
      .site-header .header-normal-menu .site-branding .black-logo {
        display: none; }
      @media (max-width: 992px) {
        .site-header .header-normal-menu .site-branding {
          margin: 10px; } }
      .site-header .header-normal-menu .site-branding a {
        width: 100%;
        display: block; }
      .site-header .header-normal-menu .site-branding img {
        max-width: 150px;
        height: auto;
        max-height: 80px;
        object-fit: contain;
        object-position: center center;
        overflow: hidden;
        transition: all ease .3s; }
        @media (max-width: 1200px) {
          .site-header .header-normal-menu .site-branding img {
            max-height: 80px !important;
            height: auto; } }
    .site-header .header-normal-menu .header-menu-wrp {
      margin-top: 0px; }
      .site-header .header-normal-menu .header-menu-wrp .top-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 15px;
        padding-right: 15px; }
        @media (max-width: 992px) {
          .site-header .header-normal-menu .header-menu-wrp .top-menu {
            padding-top: 0px;
            padding-right: 0px;
            justify-content: center; } }
        @media (max-width: 576px) {
          .site-header .header-normal-menu .header-menu-wrp .top-menu {
            padding-top: 0px;
            padding-right: 0px;
            justify-content: flex-start; } }
        .site-header .header-normal-menu .header-menu-wrp .top-menu .phonenumber {
          padding-right: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #fff; }
          @media (max-width: 520px) {
            .site-header .header-normal-menu .header-menu-wrp .top-menu .phonenumber {
              display: none; } }
        .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links {
          display: flex;
          align-items: center; }
          .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links a {
            line-height: 1;
            color: #fff;
            margin-right: 10px; }
            .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links a svg {
              width: 36px;
              height: 36px;
              border-radius: 18px;
              border: 2px solid #23a9cf;
              padding: 8px; }
            @media (max-width: 768px) {
              .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links a {
                margin-right: 5px; } }
            .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links a:hover svg {
              background-color: #23a9cf; }
          .site-header .header-normal-menu .header-menu-wrp .top-menu .social-links span {
            margin-bottom: .5rem;
            font-family: inherit;
            font-weight: 800;
            line-height: 1;
            color: #fff;
            font-size: 16px;
            margin-right: 15px; }
        @media (max-width: 678px) {
          .site-header .header-normal-menu .header-menu-wrp .top-menu .donate-btn {
            z-index: 999999999; } }
        .site-header .header-normal-menu .header-menu-wrp .top-menu .donate-btn .btn {
          background-color: transparent;
          color: #fff;
          border: 2px solid #a5d1f4;
          font-weight: 500; }
        .site-header .header-normal-menu .header-menu-wrp .top-menu .donate-btn .btn:hover {
          border-color: #fff; }
      .site-header .header-normal-menu .header-menu-wrp .menu {
        list-style: none;
        padding-left: 0;
        display: flex;
        justify-content: flex-end;
        margin: 0; }
        @media (max-width: 992px) {
          .site-header .header-normal-menu .header-menu-wrp .menu {
            margin: 0px;
            padding-top: 0;
            justify-content: center; } }
        @media (max-width: 678px) {
          .site-header .header-normal-menu .header-menu-wrp .menu {
            display: none; } }
        .site-header .header-normal-menu .header-menu-wrp .menu > li {
          margin-left: 10px;
          margin-right: 10px;
          position: relative; }
          @media (max-width: 992px) {
            .site-header .header-normal-menu .header-menu-wrp .menu > li {
              margin-left: 5px;
              margin-right: 5px; } }
          .site-header .header-normal-menu .header-menu-wrp .menu > li a {
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: all ease 0.3s;
            text-decoration: none !important;
            padding: 15px 5px;
            display: inline-block;
            text-align: center; }
            .site-header .header-normal-menu .header-menu-wrp .menu > li a:hover {
              opacity: 0.7; }
            @media (max-width: 1200px) {
              .site-header .header-normal-menu .header-menu-wrp .menu > li a {
                letter-spacing: 0;
                padding: 15px 3px; } }
            @media (max-width: 992px) {
              .site-header .header-normal-menu .header-menu-wrp .menu > li a {
                letter-spacing: 0;
                padding: 15px 3px; } }
            @media (max-width: 725px) {
              .site-header .header-normal-menu .header-menu-wrp .menu > li a {
                font-size: 0.8rem; } }
          .site-header .header-normal-menu .header-menu-wrp .menu > li .sub-menu {
            position: absolute;
            left: 0;
            top: 100%;
            width: 270px;
            background-color: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.015);
            border: 1px solid #f2f2f2;
            padding-left: 0;
            list-style: none;
            display: none;
            margin: 0px; }
            .site-header .header-normal-menu .header-menu-wrp .menu > li .sub-menu li {
              padding-left: 15px;
              padding-right: 15px;
              border-bottom: 1px solid #f2f2f2; }
              .site-header .header-normal-menu .header-menu-wrp .menu > li .sub-menu li a {
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: left; }
          .site-header .header-normal-menu .header-menu-wrp .menu > li:hover .sub-menu {
            display: block; }
      .site-header .header-normal-menu .header-menu-wrp .navbar {
        padding: 0px; }
      .site-header .header-normal-menu .header-menu-wrp .navbar-toggler {
        margin-right: 10px; }
  .site-header .hamburger-menu {
    margin-right: 40px;
    position: absolute;
    bottom: 35px;
    right: 0;
    z-index: 112;
    display: none; }
    @media (max-width: 678px) {
      .site-header .hamburger-menu {
        display: block; } }
    .site-header .hamburger-menu .menu-toggle {
      display: block;
      position: relative;
      top: 16px;
      left: 20px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
      .site-header .hamburger-menu .menu-toggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none; }
      .site-header .hamburger-menu .menu-toggle span {
        display: block;
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .site-header .hamburger-menu .menu-toggle span:first-child {
        transform-origin: 0% 0%; }
      .site-header .hamburger-menu .menu-toggle span:nth-last-child(2) {
        transform-origin: 0% 100%; }
      .site-header .hamburger-menu .menu-toggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-7px, -13px);
        background: #fff; }
      .site-header .hamburger-menu .menu-toggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2); }
      .site-header .hamburger-menu .menu-toggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(-4px, 12px); }
      .site-header .hamburger-menu .menu-toggle input:checked ~ ul {
        transform: none; }
  .site-header .header-mobile-menu {
    position: absolute;
    width: 100%;
    background-color: #fff;
    display: none;
    padding: 30px; }
    .site-header .header-mobile-menu ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .site-header .header-mobile-menu ul li {
        padding: 5px 0; }
        .site-header .header-mobile-menu ul li a {
          color: #222;
          font-weight: 500;
          font-size: 16px; }
          .site-header .header-mobile-menu ul li a:hover {
            text-decoration: none;
            opacity: 0.8; }
    .site-header .header-mobile-menu.show-menu {
      display: block; }
  @media (max-width: 678px) {
    .site-header .search-form-wrp {
      display: none; } }
  .site-header .search-form-wrp form {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-left: 15px; }
  .site-header .search-form-wrp input {
    height: 36px;
    outline: none;
    border: none;
    width: 150px;
    padding: 5px 10px; }
    .site-header .search-form-wrp input:active {
      outline: none; }
  .site-header .search-form-wrp .btn {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    height: 36px;
    width: 36px;
    background-color: #fff;
    padding: 5px;
    border: none;
    outline: none; }
    .site-header .search-form-wrp .btn:active {
      outline: none;
      background-color: #fff; }
  .site-header .additional-hamburger-menu {
    margin-left: 15px; }
    .site-header .additional-hamburger-menu a {
      font-size: 24px;
      color: #fff; }
    @media (max-width: 678px) {
      .site-header .additional-hamburger-menu {
        display: none; } }
  .site-header .additional-header-mobile-menu {
    position: absolute;
    width: 300px;
    min-height: 100vh;
    background-color: #fff;
    top: 0;
    right: -300px;
    z-index: 113;
    transition: all ease 0.3s; }
    .site-header .additional-header-mobile-menu ul {
      padding: 30px;
      margin: 0;
      list-style: none; }
      .site-header .additional-header-mobile-menu ul li {
        padding: 5px 0; }
        .site-header .additional-header-mobile-menu ul li a {
          font-size: 16px;
          font-weight: 500;
          color: #222; }
          .site-header .additional-header-mobile-menu ul li a:hover {
            text-decoration: none;
            opacity: 0.8; }
    .site-header .additional-header-mobile-menu .close-btn {
      position: absolute;
      top: 15px;
      right: 15px; }
      .site-header .additional-header-mobile-menu .close-btn a {
        font-size: 20px;
        color: #666; }
  .site-header .additional-header-mobile-menu.show-menu {
    right: 0; }

.site-header.shrinked {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff; }
  .site-header.shrinked .site-branding {
    margin: 10px !important; }
    .site-header.shrinked .site-branding .black-logo {
      display: block; }
    .site-header.shrinked .site-branding .white-logo {
      display: none; }
    .site-header.shrinked .site-branding img {
      max-height: 60px !important; }
  .site-header.shrinked .top-menu {
    display: none !important; }
  .site-header.shrinked .menu {
    padding-top: 0px !important; }
    .site-header.shrinked .menu li a {
      color: #222 !important; }
  .site-header.shrinked .hamburger-menu {
    bottom: 40px; }
    .site-header.shrinked .hamburger-menu .menu-toggle span {
      background-color: #067883; }
    .site-header.shrinked .hamburger-menu .menu-toggle input:checked ~ span {
      background-color: #067883; }
  .site-header.shrinked .header-normal-menu {
    padding-bottom: 0; }
  .site-header.shrinked .header-mobile-menu {
    background-color: #fff; }

.mini-logo {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding-bottom: 3px; }
  .mini-logo .site-branding {
    margin: 10px;
    margin-bottom: 3px; }
    .mini-logo .site-branding img {
      max-width: 80px;
      max-height: 40px; }

.mean-bar {
  background: #ffffff !important;
  position: fixed !important; }
  .mean-bar a.meanmenu-reveal span {
    background-color: gray; }
  .mean-bar a.meanclose {
    color: gray; }
  .mean-bar .mean-nav ul li {
    background-color: #ffffff !important;
    border-top: 1px solid rgba(0, 0, 0, 0.3); }
    .mean-bar .mean-nav ul li a {
      color: black !important; }
  .mean-bar .mean-nav ul li:last-child {
    background-color: #ffffff !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .mean-bar .mean-nav ul li:last-child a {
      color: black !important; }

@media (max-width: 678px) {
  .mean-menu-holder .mean-bar {
    position: absolute !important; } }
.mean-menu-holder.mean-container .mean-nav ul li a.mean-expand {
  padding: 6px !important; }
  .mean-menu-holder.mean-container .mean-nav ul li a.mean-expand:hover {
    background-color: transparent !important; }
.mean-menu-holder .mean-bar {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-top: -55px; }
.mean-menu-holder .mean-bar .mean-nav ul li:last-child {
  border-bottom: 0 !important; }
.mean-menu-holder .mean-bar .meanmenu-reveal {
  color: #1f3d7f; }
  .mean-menu-holder .mean-bar .meanmenu-reveal span {
    background-color: #1f3d7f; }

.mean-menu-holder {
  display: none; }
  @media (max-width: 678px) {
    .mean-menu-holder {
      display: block !important; } }

#menu-mobile-menu {
  flex-wrap: wrap; }
  #menu-mobile-menu li {
    margin-left: 0;
    margin-right: 0; }
    #menu-mobile-menu li a {
      padding: 5px 15px !important; }

.top-footer-wrp .container-fluid {
  padding: 0; }
  .top-footer-wrp .container-fluid .row {
    align-items: center;
    margin: 0; }
    .top-footer-wrp .container-fluid .row .left-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #23a9cf;
      padding-left: 120px; }
      @media (max-width: 1200px) {
        .top-footer-wrp .container-fluid .row .left-content {
          padding-left: 60px; } }
      @media (max-width: 768px) {
        .top-footer-wrp .container-fluid .row .left-content {
          padding: 0 60px;
          justify-content: center; } }
      .top-footer-wrp .container-fluid .row .left-content a {
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
        .top-footer-wrp .container-fluid .row .left-content a span {
          position: relative;
          display: inline-block;
          line-height: 2.285712; }
          .top-footer-wrp .container-fluid .row .left-content a span::after {
            content: "";
            border-bottom: 1px solid #63b1e5;
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
            transition: all .1s ease; }
      .top-footer-wrp .container-fluid .row .left-content a:hover span::after {
        width: 12px; }
    .top-footer-wrp .container-fluid .row .right-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #000;
      padding-left: 60px; }
      @media (max-width: 768px) {
        .top-footer-wrp .container-fluid .row .right-content {
          padding: 0 15px;
          justify-content: center; } }
      .top-footer-wrp .container-fluid .row .right-content .social-links {
        display: flex;
        align-items: center; }
        .top-footer-wrp .container-fluid .row .right-content .social-links a {
          color: #fff;
          margin-right: 10px; }
          .top-footer-wrp .container-fluid .row .right-content .social-links a svg {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            border: 2px solid #23a9cf;
            padding: 8px; }
          @media (max-width: 768px) {
            .top-footer-wrp .container-fluid .row .right-content .social-links a {
              margin-right: 5px; } }
          .top-footer-wrp .container-fluid .row .right-content .social-links a:hover svg {
            background-color: #23a9cf; }
        .top-footer-wrp .container-fluid .row .right-content .social-links span {
          margin-bottom: .5rem;
          font-family: inherit;
          font-weight: 800;
          line-height: 1;
          color: #fff;
          font-size: 16px;
          margin-right: 15px; }

.middle-footer-wrp {
  background-color: #4a1961;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .middle-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .middle-footer-wrp .container-fluid {
        padding: 0 60px; } }
    @media (max-width: 576px) {
      .middle-footer-wrp .container-fluid {
        padding: 0 30px; } }
    .middle-footer-wrp .container-fluid ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .middle-footer-wrp .container-fluid ul li {
        color: #fff;
        font-weight: 700;
        padding: 10px 0; }
        .middle-footer-wrp .container-fluid ul li a {
          color: #fff; }
    .middle-footer-wrp .container-fluid .location-info .image-wrp {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
      margin-bottom: 15px;
      background-color: #fafafa; }
      .middle-footer-wrp .container-fluid .location-info .image-wrp img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }

.bottom-footer-wrp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #63317d; }
  .bottom-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .bottom-footer-wrp .container-fluid {
        padding: 0 60px; } }
    .bottom-footer-wrp .container-fluid .copyright {
      font-size: 16px;
      color: #a5d1f4;
      font-weight: 400; }

.footer-wrp {
  padding-top: 30px;
  padding-bottom: 4rem;
  background-color: #4a5270;
  color: #fff; }
  .footer-wrp .menu {
    margin: 0px;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap; }
    .footer-wrp .menu li {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 5px;
      margin-bottom: 5px; }
      .footer-wrp .menu li a {
        font-size: 1rem;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all ease 0.3s;
        text-decoration: none !important; }
        .footer-wrp .menu li a:hover {
          opacity: 0.7; }
  .footer-wrp .footer-description {
    padding-top: 20px; }
  .footer-wrp .button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    background: #1f3d7f;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .18s ease; }
  .footer-wrp .button-top-visible {
    opacity: 1;
    pointer-events: auto; }

.site-footer.aco-footer .top-footer-wrp .container-fluid {
  padding: 0; }
  .site-footer.aco-footer .top-footer-wrp .container-fluid .row {
    align-items: center;
    margin: 0; }
    .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #3798a2;
      padding-left: 120px; }
      @media (max-width: 1200px) {
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content {
          padding-left: 60px; } }
      @media (max-width: 768px) {
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content {
          padding: 0 60px;
          justify-content: center; } }
      .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content a {
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content a span {
          position: relative;
          display: inline-block;
          line-height: 2.285712; }
          .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content a span::after {
            content: "";
            border-bottom: 1px solid #63b1e5;
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
            transition: all .1s ease; }
      .site-footer.aco-footer .top-footer-wrp .container-fluid .row .left-content a:hover span::after {
        width: 12px; }
    .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #238892;
      padding-left: 60px; }
      @media (max-width: 768px) {
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content {
          padding: 0 15px;
          justify-content: center; } }
      .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links {
        display: flex;
        align-items: center; }
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links a {
          color: #fff;
          margin-right: 10px; }
          .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links a svg {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            border: 2px solid #a5d1f4;
            padding: 8px; }
          @media (max-width: 768px) {
            .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links a {
              margin-right: 5px; } }
          .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links a:hover svg {
            border-color: #fff; }
        .site-footer.aco-footer .top-footer-wrp .container-fluid .row .right-content .social-links span {
          margin-bottom: .5rem;
          font-family: inherit;
          font-weight: 800;
          line-height: 1;
          color: #fff;
          font-size: 16px;
          margin-right: 15px; }
.site-footer.aco-footer .middle-footer-wrp {
  background-color: #067883;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .site-footer.aco-footer .middle-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .site-footer.aco-footer .middle-footer-wrp .container-fluid {
        padding: 0 60px; } }
    @media (max-width: 576px) {
      .site-footer.aco-footer .middle-footer-wrp .container-fluid {
        padding: 0 30px; } }
    .site-footer.aco-footer .middle-footer-wrp .container-fluid ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .site-footer.aco-footer .middle-footer-wrp .container-fluid ul li {
        color: #fff;
        font-weight: 700;
        padding: 10px 0; }
        .site-footer.aco-footer .middle-footer-wrp .container-fluid ul li a {
          color: #fff; }
    .site-footer.aco-footer .middle-footer-wrp .container-fluid .location-info .image-wrp {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
      margin-bottom: 15px;
      background-color: #fafafa; }
      .site-footer.aco-footer .middle-footer-wrp .container-fluid .location-info .image-wrp img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }
.site-footer.aco-footer .bottom-footer-wrp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #3798a2; }
  .site-footer.aco-footer .bottom-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .site-footer.aco-footer .bottom-footer-wrp .container-fluid {
        padding: 0 60px; } }
    .site-footer.aco-footer .bottom-footer-wrp .container-fluid .copyright {
      font-size: 16px;
      color: #a5d1f4;
      font-weight: 400; }
.site-footer.aco-footer .footer-wrp {
  padding-top: 30px;
  padding-bottom: 4rem;
  background-color: #4a5270;
  color: #fff; }
  .site-footer.aco-footer .footer-wrp .menu {
    margin: 0px;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap; }
    .site-footer.aco-footer .footer-wrp .menu li {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 5px;
      margin-bottom: 5px; }
      .site-footer.aco-footer .footer-wrp .menu li a {
        font-size: 1rem;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all ease 0.3s;
        text-decoration: none !important; }
        .site-footer.aco-footer .footer-wrp .menu li a:hover {
          opacity: 0.7; }
  .site-footer.aco-footer .footer-wrp .footer-description {
    padding-top: 20px; }
  .site-footer.aco-footer .footer-wrp .button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    background: #1f3d7f;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .18s ease; }
  .site-footer.aco-footer .footer-wrp .button-top-visible {
    opacity: 1;
    pointer-events: auto; }

.site-footer.support-footer .top-footer-wrp .container-fluid {
  padding: 0; }
  .site-footer.support-footer .top-footer-wrp .container-fluid .row {
    align-items: center;
    margin: 0; }
    .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #278fc0;
      padding-left: 120px; }
      @media (max-width: 1200px) {
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content {
          padding-left: 60px; } }
      @media (max-width: 768px) {
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content {
          padding: 0 60px;
          justify-content: center; } }
      .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content a {
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff; }
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content a span {
          position: relative;
          display: inline-block;
          line-height: 2.285712; }
          .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content a span::after {
            content: "";
            border-bottom: 1px solid #63b1e5;
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            width: 100%;
            transition: all .1s ease; }
      .site-footer.support-footer .top-footer-wrp .container-fluid .row .left-content a:hover span::after {
        width: 12px; }
    .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #2683af;
      padding-left: 60px; }
      @media (max-width: 768px) {
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content {
          padding: 0 15px;
          justify-content: center; } }
      .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links {
        display: flex;
        align-items: center; }
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links a {
          color: #fff;
          margin-right: 10px; }
          .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links a svg {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            border: 2px solid #a5d1f4;
            padding: 8px; }
          @media (max-width: 768px) {
            .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links a {
              margin-right: 5px; } }
          .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links a:hover svg {
            border-color: #fff; }
        .site-footer.support-footer .top-footer-wrp .container-fluid .row .right-content .social-links span {
          margin-bottom: .5rem;
          font-family: inherit;
          font-weight: 800;
          line-height: 1;
          color: #fff;
          font-size: 16px;
          margin-right: 15px; }
.site-footer.support-footer .middle-footer-wrp {
  background-color: #1b76a0;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .site-footer.support-footer .middle-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .site-footer.support-footer .middle-footer-wrp .container-fluid {
        padding: 0 60px; } }
    @media (max-width: 576px) {
      .site-footer.support-footer .middle-footer-wrp .container-fluid {
        padding: 0 30px; } }
    .site-footer.support-footer .middle-footer-wrp .container-fluid ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .site-footer.support-footer .middle-footer-wrp .container-fluid ul li {
        color: #fff;
        font-weight: 700;
        padding: 10px 0; }
        .site-footer.support-footer .middle-footer-wrp .container-fluid ul li a {
          color: #fff; }
    .site-footer.support-footer .middle-footer-wrp .container-fluid .location-info .image-wrp {
      display: block;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      position: relative;
      margin-bottom: 15px;
      background-color: #fafafa; }
      .site-footer.support-footer .middle-footer-wrp .container-fluid .location-info .image-wrp img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }
.site-footer.support-footer .bottom-footer-wrp {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #278fc0; }
  .site-footer.support-footer .bottom-footer-wrp .container-fluid {
    padding: 0 120px; }
    @media (max-width: 1200px) {
      .site-footer.support-footer .bottom-footer-wrp .container-fluid {
        padding: 0 60px; } }
    .site-footer.support-footer .bottom-footer-wrp .container-fluid .copyright {
      font-size: 16px;
      color: #a5d1f4;
      font-weight: 400; }
.site-footer.support-footer .footer-wrp {
  padding-top: 30px;
  padding-bottom: 4rem;
  background-color: #4a5270;
  color: #fff; }
  .site-footer.support-footer .footer-wrp .menu {
    margin: 0px;
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    flex-wrap: wrap; }
    .site-footer.support-footer .footer-wrp .menu li {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 5px;
      margin-bottom: 5px; }
      .site-footer.support-footer .footer-wrp .menu li a {
        font-size: 1rem;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: all ease 0.3s;
        text-decoration: none !important; }
        .site-footer.support-footer .footer-wrp .menu li a:hover {
          opacity: 0.7; }
  .site-footer.support-footer .footer-wrp .footer-description {
    padding-top: 20px; }
  .site-footer.support-footer .footer-wrp .button-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    background: #1f3d7f;
    color: #fff;
    font-size: 26px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .18s ease; }
  .site-footer.support-footer .footer-wrp .button-top-visible {
    opacity: 1;
    pointer-events: auto; }

.entry-content img {
  margin: 0 0 1.5em 0; }

.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px; }

.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0; }

.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0; }

.wp-smiley {
  margin: 0 !important;
  max-height: 1em; }

blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left; }

blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right; }

.post-img-wrp {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  margin-bottom: 15px;
  background-color: #fafafa; }
  .post-img-wrp img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; }

.cseven-gallery-listing .inner-col {
  padding-bottom: 20px; }
  .cseven-gallery-listing .inner-col .title {
    font-size: 20px; }
  .cseven-gallery-listing .inner-col .social-links a {
    color: gray;
    margin: 3px; }
    .cseven-gallery-listing .inner-col .social-links a svg {
      font-size: 20px; }
.cseven-gallery-listing .image-count {
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background-color: #1f3d7f;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 22px; }
.cseven-gallery-listing .image-locked {
  width: 36px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background-color: #1f3d7f;
  color: #fff;
  position: absolute;
  bottom: 72px;
  left: 22px; }

.page-title {
  padding-top: 2rem; }

.entry-header {
  padding-bottom: 1rem; }

article {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.post-navigation {
  padding-top: 1rem;
  padding-bottom: 2rem; }

.comments-area {
  padding-top: 1rem;
  padding-bottom: 2rem; }
  .comments-area .comment-form-comment label {
    width: 100%; }

.label-404 {
  padding-top: 10rem;
  padding-bottom: 20rem;
  align-items: center;
  justify-content: flex-end;
  font-size: 72px;
  color: gray; }

.page {
  margin: 0px;
  min-height: calc(100vh - 400px); }

.page-template-default .sc {
  padding-top: 5rem;
  padding-bottom: 5rem; }
.page-template-default .post-thumbnail {
  margin-bottom: 4rem;
  margin-top: 2rem;
  border: 3px solid #1f3d7f; }
  .page-template-default .post-thumbnail img {
    width: 100%;
    height: auto; }
.page-template-default .accordion-wrp .card {
  border: none; }
.page-template-default .accordion-wrp .card-header {
  text-align: center;
  background-color: #ffffff;
  padding-left: 0px;
  padding-right: 0px; }
.page-template-default .accordion-wrp .btn {
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 1.3rem;
  padding: 0px; }
.page-template-default .page-banner {
  color: #ffffff;
  margin-bottom: 4rem;
  margin-top: 2rem; }
  .page-template-default .page-banner .middle_banner_btn {
    width: 150px; }

.each-single-post {
  margin-bottom: 20px; }
  .each-single-post .img-wrp {
    margin-bottom: 10px; }
  .each-single-post h3 {
    font-size: 1.5rem; }

/**
 * CTA Style
 */
.cta {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .cta.transparency-bg:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .cta.callout {
    padding: 4rem 30px; }
    .cta.callout .content-wrp {
      max-width: 992px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      position: relative; }
      .cta.callout .content-wrp .title-part h2 {
        font-size: 36px;
        color: #ffffff;
        margin-bottom: 10px; }
      .cta.callout .content-wrp .body-part p {
        font-size: 18px;
        color: #ffffff;
        line-height: 1.3; }
      .cta.callout .content-wrp .btn-wrp {
        padding-top: 15px; }
        .cta.callout .content-wrp .btn-wrp a {
          font-size: 16px;
          padding: 8px 30px;
          color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 30px;
          font-weight: 500; }
          .cta.callout .content-wrp .btn-wrp a:hover {
            text-decoration: none;
            background-color: #ffffff;
            color: #333333; }
    .cta.callout.bg_white .content-wrp .title-part h2 {
      color: #333333; }
    .cta.callout.bg_white .content-wrp .body-part p {
      color: #333333; }
    .cta.callout.bg_white .content-wrp .btn-wrp a {
      color: #333333;
      border: 1px solid #333333; }
      .cta.callout.bg_white .content-wrp .btn-wrp a:hover {
        background-color: #333333;
        color: #ffffff; }
    .cta.callout.bg_white.transparency-bg:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5); }
  .cta.square {
    padding: 30px;
    max-width: 400px;
    float: right; }
    .cta.square .content-wrp {
      position: relative; }
      .cta.square .content-wrp .title-part h2 {
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 10px; }
      .cta.square .content-wrp .body-part p {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.3; }
      .cta.square .content-wrp .btn-wrp {
        padding-top: 15px; }
        .cta.square .content-wrp .btn-wrp a {
          font-size: 16px;
          padding: 8px 30px;
          color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 30px;
          font-weight: 500; }
          .cta.square .content-wrp .btn-wrp a:hover {
            text-decoration: none;
            background-color: #ffffff;
            color: #333333; }
    .cta.square.bg_white .content-wrp .title-part h2 {
      color: #333333; }
    .cta.square.bg_white .content-wrp .body-part p {
      color: #333333; }
    .cta.square.bg_white .content-wrp .btn-wrp a {
      color: #333333;
      border: 1px solid #333333; }
      .cta.square.bg_white .content-wrp .btn-wrp a:hover {
        background-color: #333333;
        color: #ffffff; }
    .cta.square.bg_white.transparency-bg:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
